@model DevSys.Gesinv.UI.Models.ViewModels.OrdenCompraViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>OrdenCompraViewModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrdenCompraId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrdenCompraId)
        </dd>
        <dt class = "col-sm-2">
            Proveedor
        </dt>
        <dd class = "col-sm-10">
            @Model.NombreProveedor
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Referencia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Referencia)
        </dd>
        <dt class = "col-sm-2">
            Condicion Pago
        </dt>
        <dd class = "col-sm-10">
            @Model.CondicionPago
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Observacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Observacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fecha)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SubTotal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SubTotal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descuento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descuento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Impuestos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Impuestos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Total)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Total)
        </dd>
    </dl>
    @Html.DisplayNameFor(model => model.LineaCompra)
    <table class="table table-success table-striped">
        <thead>
            <tr>
                <th scope="col">Codigo</th>
                <th scope="col">Producto</th>
                <th scope="col">Entrega</th>
                <th scope="col">Unidad</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Precio Unitario</th>
                <th scope="col">%</th>
                <th scope="col">Total</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.LineaCompra)
            {
                <tr>
                    <td>@item.Producto.Codigo</td>
                    <td>@item.Producto.Nombre</td>
                    <td>@item.Departamento.Nombre</td>
                    <td>@item.Caja</td>
                    <td>@item.Cantidad</td>
                    <td>@item.Precio</td>
                    <td>@item.Descuento</td>
                    <td>@item.Total</td>
                </tr>
            }

        </tbody>
    </table>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new {  id = Model.OrdenCompraId }) |
    <a asp-action="Index">Back to List</a>
</div>
