@model DevSys.Gesinv.UI.Models.ViewModels.SalidaViewModel

@{
  ViewData["Title"] = "Salida - Editar";
  Layout = "~/Views/Shared/_Layout.cshtml";
  List<SelectListItem> sliBodega = (List<SelectListItem>)ViewBag.sliBodega;
  List<SelectListItem> sliMotivo = (List<SelectListItem>)ViewBag.sliMotivo;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Editar</title>
</head>
<body>

<div>

<div>
  <h5 align="center">SALIDA</h5>
  <hr/>
  <table class="table">
    <thread>
      <tr align="center">
        <th>@Html.DisplayNameFor(model => model.MotivoNombre)</th>
        <th>@Html.DisplayNameFor(model => model.Fecha)</th>
        <th>@Html.DisplayNameFor(model => model.BodegaNombre)</th>
        <th>@Html.DisplayNameFor(model => model.Comentario)</th>
        <th></th>
      </tr>
        <tr align="center">
          <td>@Html.DropDownList("Motivo", sliMotivo)</td>
          <td>@*@Html.DisplayFor(model => model.Fecha)*@<input type="date"></td>
          <td>@Html.DropDownList("Bodega", sliBodega)</td>
          <td><textarea cols="30" rows="2">@Html.DisplayFor(model => model.Comentario)</textarea></td>
          <th></th>
      </tr>
      </thread>
  </table>
</div>

<div>
  <table class="table">
    <h5 align="center">PRODUCTOS</h5>
    <thread>
      <tr align="center">
        <th>Cód. Producto</th>
        <th>Producto</th>
        <th>Cantidad</th>
        <th>Costo</th>
        <th></th>
      </tr>
  </thread>
      <tbody>
    @foreach (var item in Model.LineaSalida)
    {
      <tr align="center">
        <td>@item.ProductoId</td>
        <td>@item.ProductoNombre</td>
        <td>@item.Cantidad</td>
        <td>@item.CostoSalida</td>
      </tr>
    }
  </tbody>
  </table>
</div>

<div class="d-flex flex-row-reverse">
  <form>
    <button type="submit" asp-action="Create" class="btn btn-outline-primary">Crear</button> |
    <button type="submit" asp-action="Index" class="btn btn-outline-success">Regresar</button>
@*    <a class="btn btn-outline-primary" asp-action="Create" >Crear</a> |
    <a class="btn btn-outline-success" asp-action="Index">Regresar</a>*@
  </form>
</div>

</div>
</body>
</html>
