@model DevSys.Gesinv.UI.Models.ViewModels.SalidaViewModel

@{
  ViewData["Title"] = "Salida - Editar";
  Layout = "~/Views/Shared/_Layout.cshtml";
  List<SelectListItem> sliBodega = (List<SelectListItem>)ViewBag.sliBodega;
  List<SelectListItem> sliMotivo = (List<SelectListItem>)ViewBag.sliMotivo;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Editar</title>
</head>
<body>
  <form asp-action="Create">
    <div>

      <div>
        <h5 align="center">SALIDA</h5>
        <hr/>

        <table class="table">
          <thread>
            <tr align="center">
              <th>@Html.DisplayNameFor(model => model.MotivoNombre)</th>
              <th>@Html.DisplayNameFor(model => model.Fecha)</th>
              <th>@Html.DisplayNameFor(model => model.BodegaNombre)</th>
              <th>@Html.DisplayNameFor(model => model.Comentario)</th>
              <th></th>
            </tr>
              <tr align="center">
                <td>@Html.DropDownList("MotivoId", ViewBag.sliMotivo as List<SelectListItem>,
                                      "Seleccionar", new { @class= "form-control"})</td>
                <td>@Html.TextBoxFor(model => model.Fecha, new { type = "date", @class= "form-control" })</td>
                <td>@Html.DropDownList("BodegaId", ViewBag.sliBodega as List<SelectListItem>,
                                      "Seleccionar", new { @class= "form-control"})</td>
                <td>@Html.TextAreaFor(model => model.Comentario, new { @class= "form-control"})</td>
                <th></th>
            </tr>
            </thread>
        </table>
      </div>

      <div>
        <table class="table">
          <h5 align="center">PRODUCTOS</h5>
          <thread>
            <tr align="center">
              <th>Cód. Producto</th>
              <th>Producto</th>
              <th>Cantidad</th>
              <th>Precio</th>
              <th>Total</th>
              <th></th>
            </tr>
        </thread>
            <tbody>
              @if (Model.LineaSalida != null)
              {
                for (var i= 0; i < Model.LineaSalida.Count(); i++)
                {
            <tr align="center">
              <td>@Html.TextBoxFor(model => Model.LineaSalida[i].ProductoId, new { @class = "form-control", @readonly = "readonly" })</td>
              <td>@Html.TextBoxFor(model => Model.LineaSalida[i].ProductoNombre, new { @class = "form-control", @readonly = "readonly" })</td>
              <td>@Html.TextBoxFor(model => Model.LineaSalida[i].Cantidad, new { @class = "form-control", @readonly = "readonly" })</td>
              <td>@Html.TextBoxFor(model => Model.LineaSalida[i].ProductoPrecio, new { @class = "form-control", @readonly = "readonly" })</td>
              <td>@Html.TextBoxFor(model => Model.LineaSalida[i].CostoSalida, new { @class = "form-control", @readonly = "readonly" })</td>
            </tr>
                }
              }
            </tbody>
        </table>
      </div>

      <div class="d-flex flex-row-reverse">
        <a class="btn btn-outline-success" asp-action="Index">Regresar</a>
        <button type="submit" class="btn btn-outline-primary">Crear</button>
      </div>

    </div>
  </form>
</body>
</html>



