@model DevSys.Gesinv.UI.Models.ViewModels.SalidaViewModel

@{
    ViewData["Title"] = "Salida - Eliminar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!DOCTYPE html>

<html>
<head>
  <meta name="viewport" content="width=device-width"/>
  <title>Eliminar</title>
</head>
<body>
    <h3>Desea eliminar el registro?</h3>
<div>
  <div>
  <h5 align="center">SALIDA</h5>
<hr />
  <table class="table">
    <thread>
      <tr align="center">
        <th>
          @Html.DisplayNameFor(model => model.Codigo)
        </th>
        <th>
          @Html.DisplayNameFor(model => model.MotivoNombre)
        </th>
        <th>
          @Html.DisplayNameFor(model => model.Fecha)
        </th>
        <th>
          @Html.DisplayNameFor(model => model.BodegaNombre)
        </th>
        <th></th>
      </tr>
      <tr align="center">
        <td>
          @Html.DisplayFor(model => model.Codigo)
        </td>
        <td>
          @Html.DisplayFor(model => model.MotivoNombre)
        </td>
        <td>
          @Html.DisplayFor(model => model.Fecha)
        </td>
        <td>
          @Html.DisplayFor(model => model.BodegaNombre)
        </td>
        <th></th>
      </tr>
    </thread>
  </table>
</div>

  <form asp-action="Delete">
    <input type="hidden" asp-for="SalidaId" />
    <input type="submit" value="Eliminar" class="btn btn-danger" />
    @*<input type="submit" value="Eliminar" class="btn btn-danger" />*@
    <a asp-action="Index">Regresar</a>
  </form>

</div>
</body>
</html>
