@model DevSys.Gesinv.UI.Models.ViewModels.SalidaViewModel

@{
    ViewData["Title"] = "Salida - Detalles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Detalles</title>

    @section Style{
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
        <!-- Font Awesome -->
        <link rel="stylesheet" href="../../plugins/fontawesome-free/css/all.min.css">
        <!-- Theme style -->
        <link rel="stylesheet" href="../../dist/css/adminlte.min.css">

    }

</head>
<body>

<div class="card">
<div class="card-body">
    <div class="card">
                <div class="table table-bordered table-striped" style="height: 250px;">
                    <h5 align="center" style="font-weight:bold; padding-top:10px">SALIDA</h5>
      <hr/>
      <table class="table">
        <thread>
          <tr align="center">
            <th>@Html.DisplayNameFor(model => model.SalidaId)</th>
            <th>@Html.DisplayNameFor(model => model.MotivoNombre)</th>
            <th>@Html.DisplayNameFor(model => model.Fecha)</th>
            <th>@Html.DisplayNameFor(model => model.BodegaNombre)</th>
            <th>@Html.DisplayNameFor(model => model.Comentario)</th>
            <th></th>
          </tr>
          <tr align="center">
            <td>@Html.DisplayFor(model => model.SalidaId)</td>
            <td>@Html.DisplayFor(model => model.MotivoNombre)</td>
            <td>@Html.DisplayFor(model => model.Fecha)</td>
            <td>@Html.DisplayFor(model => model.BodegaNombre)</td>
            <td><textarea disabled cols="30" rows="2">@Html.DisplayFor(model => model.Comentario)</textarea></td>

          </tr>
          </thread>
      </table>
      </div>
    </div>

 <div class="card">
                <div class="card-body table-responsive p-0 table-bordered table-striped" style="height: 250px;">
                    <h5 align="center" style="font-weight:bold; padding-top:10px">PRODUCTOS</h5>
        <table class="table">
          <thread>
            <tr align="center">
              <th>Código</th>
              <th>Producto</th>
              <th>Cantidad</th>
              <th>Costo</th>

            </tr>
          </thread>
          <tbody>
            @foreach (var item in Model.LineaSalida)
            {
              <tr align="center">
                <td>@item.ProductoId</td>
                <td>@item.ProductoNombre</td>
                <td>@item.Cantidad</td>
                <td>@item.CostoSalida</td>
              </tr>
            }
          </tbody>
        </table>
      </div>
      </div>
      <div class="d-flex flex-row-reverse">
        <form>
        @*@Html.ActionLink("Editar", "Edit", new {  id = Model.SalidaId  }) |*@
        @*@Html.ActionLink("Eliminar", "Delete", new {  id = Model.SalidaId  }) |*@
        @*<a class="btn btn-primary" asp-action="Edit" asp-route-id="@model.SalidaId">Editar</a>*@
        <a class="btn btn-outline-primary" asp-action="Edit" asp-route-id="@Model.SalidaId">Editar</a> |
        <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@Model.SalidaId">Eliminar</a> |
        <a class="btn btn-outline-success" asp-action="Index">Regresar</a>
        </form>
      </div>
    </div>
</div>
</div>

    @section Scripts {
        <script src="../../plugins/jquery/jquery.min.js"></script>
        <!-- Bootstrap 4 -->
        <script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
        <!-- AdminLTE App -->
        <script src="../../dist/js/adminlte.min.js"></script>
        <!-- AdminLTE for demo purposes -->
        <script src="../../dist/js/demo.js"></script>
    }

</body>
</html>