@model DevSys.Gesinv.UI.Models.ViewModels.SalidaViewModel

@{
    ViewData["Title"] = "Salida - Detalles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Detalles</title>
</head>
<body>

<div>
  <h5 align="center">SALIDA</h5>
  <hr />
    <table class="table">
      <thread>
        <tr align="center">
          <th>
            @Html.DisplayNameFor(model => model.Codigo)
          </th>
          <th>
            @Html.DisplayNameFor(model => model.MotivoNombre)
          </th>
          <th>
            @Html.DisplayNameFor(model => model.Fecha)
          </th>
          <th>
            @Html.DisplayNameFor(model => model.BodegaNombre)
          </th>
          <th></th>
        </tr>
        <tr align="center">
          <td>
            @Html.DisplayFor(model => model.Codigo)
          </td>
          <td>
            @Html.DisplayFor(model => model.MotivoNombre)
          </td>
          <td>
            @Html.DisplayFor(model => model.Fecha)
          </td>
          <td>
            @Html.DisplayFor(model => model.BodegaNombre)
          </td>
          <th></th>
        </tr>
        </thread>
    </table>
</div>
<div>
  <div>
      <table class="table">
      <thread>
        <tr align="center">
          <th>
            Codigo
            @*@Html.DisplayNameFor(model => model.Lineasalida.Codigo)*@
          </th>
          <th>
            Producto
            @*@Html.DisplayNameFor(model => model.MotivoNombre)*@
          </th>
          <th>
            Cantidad
            @*@Html.DisplayNameFor(model => model.Fecha)*@
          </th>
          <th>
            Costo
            @*@Html.DisplayNameFor(model => model.RequisicionCodigo)*@
          </th>
          <th></th>
        </tr>
      </thread>
      <tbody>
        @foreach (var item in Model.LineaSalida)
        {
          <tr align="center">
            <td>
              @item.ProductoCodigo
              @*@Html.DisplayFor(modelItem => item.Codigo)*@
            </td>
            <td>
              @item.ProductoNombre
              @*@Html.DisplayFor(modelItem => item.MotivoNombre)*@
            </td>
            <td>
              @item.Cantidad
              @*@Html.DisplayFor(modelItem => item.Fecha)*@
            </td>
            <td>
              @item.CostoSalida
              @*@Html.DisplayFor(modelItem => item.RequisicionCodigo)*@
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>
  <div class="d-flex flex-row-reverse">
    <form>
    @*@Html.ActionLink("Editar", "Edit", new {  id = Model.SalidaId  }) |*@
    @*@Html.ActionLink("Eliminar", "Delete", new {  id = Model.SalidaId  }) |*@
    @*<a class="btn btn-primary" asp-action="Edit" asp-route-id="@model.SalidaId">Editar</a>*@
    <a class="btn btn-outline-primary" asp-action="Edit" asp-route-id="@Model.SalidaId">Editar</a> |
    <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@Model.SalidaId">Eliminar</a> |
    <a class="btn btn-outline-success" asp-action="Index">Regresar</a>
    </form>
  </div>
</div>
</body>
</html>