@model DevSys.Gesinv.UI.Models.ViewModels.SalidaViewModel

@{
  ViewData["Title"] = "Salida - Editar";
  Layout = "~/Views/Shared/_Layout.cshtml";
  List<SelectListItem> sliBodega = (List<SelectListItem>)ViewBag.sliBodega;
  List<SelectListItem> sliMotivo = (List<SelectListItem>)ViewBag.sliMotivo;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Editar</title>
</head>
<body>
<div>
  <h5 align="center">SALIDA</h5>
  <hr/>
    <table class="table">
      <thread>
        <tr align="center">
          <th>@Html.DisplayNameFor(model => model.Codigo)</th>
          <th>@Html.DisplayNameFor(model => model.MotivoNombre)</th>
          <th>@Html.DisplayNameFor(model => model.Fecha)</th>
          <th>@Html.DisplayNameFor(model => model.BodegaNombre)</th>
          <th>@Html.DisplayNameFor(model => model.Comentario)</th>
          <th></th>
        </tr>
        <tr align="center">
          <td>@Html.DisplayFor(model => model.Codigo)</td>
          <td>@Html.DropDownList("Motivo", sliMotivo)</td>
          <td>@Html.DisplayFor(model => model.Fecha)<input type="date"></td>
          <td>@Html.DropDownList("Bodega", sliBodega)</td>
          <td><textarea cols="30" rows="2">@Html.DisplayFor(model => model.Comentario)</textarea></td>
          <th></th>
        </tr>
      </thread>
    </table>
</div>

<div>
  <h5 align="center">PRODUCTOS</h5>
  <table class="table">
    <thread>
      <tr align="center">
        <th>Codigo</th>
        <th>Producto</th>
        <th>Cantidad</th>
        <th>Costo</th>
        <th></th>
      </tr>
    </thread>
    <tbody>
      @foreach (var item in Model.LineaSalida)
      {
        <tr align="center">
          <td>@item.ProductoCodigo</td>
          <td>@item.ProductoNombre</td>
          <td><input asp-for=@item.Cantidad class="form-control"/></td>
          <td><input asp-for=@item.CostoSalida class="form-control"/></td>
        </tr>
      }
    </tbody>
  </table>
</div>

<div class="d-flex flex-row-reverse">
  <form asp-action="Edit">
    <input type="hidden" asp-for="SalidaId"/>
    <input type="submit" value="Editar" class="btn btn-outline-primary"/>
    <a class="btn btn-outline-success" asp-action="Index">Regresar</a>
  </form>
</div>

</body>
</html>