@model IEnumerable<DevSys.Gesinv.UI.Models.ViewModels.SalidaViewModel>

@{
  ViewData["Title"] = "Salida";
}

<!DOCTYPE html>

<html>
<head>
  <meta name="viewport" content="width=device-width"/>
  <title>Index</title>
</head>
<body>
  <h1>Salida de Productos</h1>
  <p>
    <a asp-action="Create">Ingresar</a>
  </p>
  <h5 align="center">SALIDAS</h5>
  <table class="table">
    <thread>
      <tr align="center">
        <th>
          @Html.DisplayNameFor(model => model.Codigo)
        </th>
        <th>
          @Html.DisplayNameFor(model => model.MotivoNombre)
        </th>
        <th>
          @Html.DisplayNameFor(model => model.Fecha)
        </th>
        <th>
          @Html.DisplayNameFor(model => model.RequisicionCodigo)
        </th>
        <th>
          @Html.DisplayNameFor(model => model.BodegaNombre)
        </th>
        <th>
          Cod. Prod.
        </th>
                <th>
          Producto
        </th>
        <th>
          Cantidad
        </th>
        <th>
          Costo
        </th>
        <th></th>
      </tr>
    </thread>
    <tbody>
      @foreach (var item in Model)
      {
        <tr align="center">
          <td>
            @Html.DisplayFor(modelItem => item.Codigo)
          </td>
          <td>
            @Html.DisplayFor(modelItem => item.MotivoNombre)
          </td>
            <td type="date(dd-mm-yyyy)">
            @Html.DisplayFor(modelItem => item.Fecha)
          </td>
          <td>
            @Html.DisplayFor(modelItem => item.RequisicionCodigo)
          </td>
          <td>
            @Html.DisplayFor(modelItem => item.BodegaNombre)
          </td>
          <td>
            @Html.DisplayFor(modelItem => item.LineaSalida.First().ProductoCodigo)
          </td>
          <td>
            @Html.DisplayFor(modelItem => item.LineaSalida.First().ProductoNombre)
          </td>
          <td>
            @Html.DisplayFor(modelItem => item.LineaSalida.First().Cantidad)
          </td>
          <td>
            @Html.DisplayFor(modelItem => item.LineaSalida.First().CostoSalida)
          </td>
          <td>
            <a asp-action="Edit" asp-route-id="@item.SalidaId">Editar</a>
            <a asp-action="Delete" asp-route-id="@item.SalidaId">Eliminar</a>
          </td>
        </tr>
      }
    </tbody>
  </table>
</body>
</html>