@model IEnumerable<DevSys.Gesinv.UI.Models.ViewModels.DepartamentoViewModel>

@{
    ViewData["Title"] = "Index";
    ViewData["Message"] = "Message";

}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

@if (ViewData["Message"] != null)
{
                    <div class="alert alert-info" role="alert">
        @ViewData["Message"]
                    </div>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DepartamentoId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DepartamentoId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {  id=item.DepartamentoId  }) |
                @Html.ActionLink("Details", "Details", new {  id=item.DepartamentoId  }) |
                @Html.ActionLink("Delete", "Delete", new {  id=item.DepartamentoId  })
            </td>
        </tr>
}
    </tbody>
</table>
