@model DevSys.Gesinv.UI.Models.ViewModels.ProductoViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Style{
    <!-- Select2 -->
        <link rel="stylesheet" href="~/lib/select2-bootstrap4-theme/select2-bootstrap4.min.css">
        <link rel="stylesheet" href="~/lib/select2/css/select2.min.css">
    
}
<h3>Crear Producto</h3>
<div class="row justify-content-center">
    <div class="card col-10">
        <form asp-action="Create">
            <div class="card-body container-fluid">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row justify-content-center row-cols-4">
                    <div class="form-group  px-2">
                        <label asp-for="Nombre" class="control-label"></label>
                        <input asp-for="Nombre" class="form-control" />
                        <span asp-validation-for="Nombre" class="text-danger"></span>
                    </div>
                    <div class="form-group  px-2">
                        <label asp-for="Precio" class="control-label"></label>
                        <input asp-for="Precio" class="form-control" />
                        <span asp-validation-for="Precio" class="text-danger"></span>
                    </div>
                    <div class="form-group  px-2">
                        <label asp-for="MarcaId" class="control-label"></label>
                        <select class="form-control" asp-items="ViewBag.MarcaOptions" name="MarcaId" asp-for="Marca"></select>
                        <span asp-validation-for="MarcaId" class="text-danger"></span>
                    </div>
                    <div class="form-group  px-2">
                        <label asp-for="MedidaId" class="control-label"></label>
                        <select asp-for="MedidaId" class="form-control">
                            @foreach (var item in ViewBag.MedidaOptions)
                            {
                                <option value="@item.MedidaId">@item.Dimension</option>
                            }
                        </select>
                        <span asp-validation-for="MarcaId" class="text-danger"></span>
                    </div>
                </div>
                @*<div class="form-group">
                <label asp-for="Codigo" class="control-label"></label>
                <input asp-for="Codigo" class="form-control" />
                <span asp-validation-for="Codigo" class="text-danger"></span>
                </div>*@
                <div class="row row-cols-3">
                    <div class="form-group px-2">
                        <label asp-for="LineaID" class="control-label"></label>
                        <select class="form-control" asp-items="ViewBag.LineaOptions" asp-for="LineaID"></select>
                        <span asp-validation-for="LineaID" class="text-danger"></span>
                    </div>
                    <div class="form-group px-2">
                        <label asp-for="TipoID" class="control-label"></label>
                        <select class="form-control" asp-items="ViewBag.TipoOptions" asp-for="TipoID"></select>
                        <span asp-validation-for="TipoID" class="text-danger"></span>
                    </div>
                    <div class="form-group px-2">
                        <label asp-for="GrupoID" class="control-label"></label>
                        <select class="form-control" asp-items="ViewBag.GrupoOptions" name="GrupoID" asp-for="GrupoID"></select>
                        <span asp-validation-for="GrupoID" class="text-danger"></span>
                    </div>
                </div>
                <div class="row row-cols-3">
                    <div class="form-group ">
                        <div class="form-check">
                            @Html.CheckBoxFor(model => model.Activo, new {@class="form-check-input", @id="Activo"})
                            <label asp-for="Activo" class="form-check-label" for="Activo"></label>
                            <span asp-validation-for="Activo" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group ">
                        @Html.CheckBoxFor(model => model.Iva)
                        <label asp-for="Iva" class="control-label"></label>
                        <span asp-validation-for="Iva" class="text-danger"></span>
                    </div>
                    <div class="form-group ">
                        @Html.CheckBoxFor(model => model.Perecible)
                        <label asp-for="Perecible" class="control-label"></label>
                        <span asp-validation-for="Perecible" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="FechaCaducidad" class="control-label"></label>
                        <input asp-for="FechaCaducidad" class="form-control" />
                        <span asp-validation-for="FechaCaducidad" class="text-danger"></span>
                    </div>
                </div>
                <div class="row col-8">
                   

                </div>
                <div class="row row-cols-2">
                    <div class="form-group px-3">
                        <label asp-for="Comentario" class="control-label"></label>
                        @Html.TextArea("Comentario", "", 4, 30, Model?.Comentario)
                        <span asp-validation-for="Comentario" class="text-danger"></span>
                    </div>
                    <div class="form-group px-3">
                        <label asp-for="ColorProducto" class="control-label"></label>
                        <select asp-for="ListaColoresId" name="ListaColoresId" class="form-select" multiple>
                            @foreach (var item in ViewBag.ColorOptions)
                            {
                                <option value="@item.ColorId">@item.Nombre</option> 
                            }
                        </select>
                        <span asp-validation-for="ColorProducto" class="text-danger"></span>
                    </div>
                </div>


                <div class="form-group">
                    <label asp-for="Unidad" class="control-label"></label>
                    <input asp-for="Unidad" class="form-control" />
                    <span asp-validation-for="Unidad" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Caja" class="control-label"></label>
                    <input asp-for="Caja" class="form-control" />
                    <span asp-validation-for="Caja" class="text-danger"></span>
                </div>

            </div>
            <div class="card-footer" style="background-color: white; margin-top:50px">
                <div class="row">
                    <div class="col-6">
                        <a class="btn btn-info" asp-action="Index">Volver a la lista</a>
                    </div>
                    <div class="form-group col-6" style="text-align: end;">
                        <input type="submit" value="Registrar" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>






@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
