@model DevSys.Gesinv.UI.Models.ViewModels.ProductoViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ProductoViewModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductoId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductoId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Codigo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Codigo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LineaId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LineaId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Unidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Unidad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Caja)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Caja)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GrupoId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GrupoId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Activo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Activo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Iva)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Iva)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Perecible)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Perecible)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Comentario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Comentario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaCaducidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaCaducidad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Precio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Precio)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new {  id = Model.ProductoId }) |
    <a asp-action="Index">Back to List</a>
</div>
