@model DevSys.Gesinv.UI.Models.ViewModels.ProductoViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="ProductoID" hidden="hidden" class="form-control" />
                <span asp-validation-for="ProductoID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Codigo" class="control-label"></label>
                <input asp-for="Codigo" class="form-control" />
                <span asp-validation-for="Codigo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LineaID" class="control-label"></label>
                <input asp-for="LineaID" class="form-control" />
                <span asp-validation-for="LineaID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoID" class="control-label"></label>
                <input asp-for="TipoID" class="form-control" />
                <span asp-validation-for="TipoID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Unidad" class="control-label"></label>
                <input asp-for="Unidad" class="form-control" />
                <span asp-validation-for="Unidad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Caja" class="control-label"></label>
                <input asp-for="Caja" class="form-control" />
                <span asp-validation-for="Caja" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GrupoID" class="control-label"></label>
                <input asp-for="GrupoID" class="form-control" />
                <span asp-validation-for="GrupoID" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.CheckBoxFor(model => model.Activo)
                <label asp-for="Activo" class="control-label"></label>
                <span asp-validation-for="Activo" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.CheckBoxFor(model => model.Iva)
                <label asp-for="Iva" class="control-label"></label>
                <span asp-validation-for="Iva" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.CheckBoxFor(model => model.Perecible)
                <label asp-for="Perecible" class="control-label"></label>
                <span asp-validation-for="Perecible" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Comentario" class="control-label"></label>
                <input asp-for="Comentario" class="form-control" />
                <span asp-validation-for="Comentario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaCaducidad" class="control-label"></label>
                <input asp-for="FechaCaducidad" class="form-control"/>
                <span asp-validation-for="FechaCaducidad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Precio" class="control-label"></label>
                <input asp-for="Precio" class="form-control" />
                <span asp-validation-for="Precio" class="text-danger"></span>
            </div>
            <div class="form-group row">
               @foreach (var item in Model?.Existencia)
               {
                   <div>@item.Bodega.Direccion</div>
                   <div>@item.Stock</div>
               }
            </div>
            <div class="form-group">
                <select asp-for="Marca" class="form-select">
                    @foreach (var item in ViewBag.MarcaOptions)
                    {
                       if (item.MarcaId == Model?.MarcaId)
                       {
                            <option value="@item.MarcaId" selected>@item.Nombre</option>
                       }
                       else
                       {
                         <option value="@item.MarcaId">@item.Nombre</option>   
                       }
                    }
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Regresar a Catalogo de Productos</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
